yarn.lock
dist
coverage
*.log
*.env
.DS_Store
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.tsbuildinfo
*.cache
*.eslintcache
*.prettiercache
*.log
*.tmp
*.bak
*.zip
*.tar.gz
*.tgz
*.gz
*.7z
*.rar
/node_modules/*
/fe/node_modules/*
/.next/*
/fe/.next/*
/.agents/*
/.claude/*
/.vscode/*
/.idea/*
/coverage/*
/.dist/*
/.env.local
/.env.development
/.env.test
/.env.production
/fe/.env.local
/fe/.env.development
/fe/.env.test
/fe/.env.production
config.bat
node_modules
